In [1]:
import pandas as pd
import numpy as np

### 2) Dados los archivos:
### ratings (movie_id, title, avg_rating) genres (movie_id, genre)
### Realizar un programa en PANDAS que liste los 5 géneros con mayor promedio de rating en sus películas. (**) (15 pts)

In [2]:
ratings = pd.read_csv('ratings.csv')
ratings.head()

   movie_id  title  avg_rating
0      1001    NaN        8.01
1      1002    NaN        8.01
2      1003    NaN        9.28
3      1004    NaN        4.16
4      1005    NaN        5.67

In [3]:
genre = pd.read_csv('genre.csv')
genre.head()

   movie_id      genre
0      1001     accion
1      1002    comedia
2      1003  romantica
3      1004     terror
4      1005      drama

In [16]:
ratings_por_genero = pd.merge(ratings,genre, on = 'movie_id')
ratings_por_genero = ratings_por_genero[['genre','avg_rating']]
ratings_por_genero.head()

       genre  avg_rating
0     accion        8.01
1    comedia        8.01
2  romantica        9.28
3     terror        4.16
4      drama        5.67

In [18]:
ratings_por_genero_final = ratings_por_genero.groupby('genre').agg({'avg_rating':'mean'})
mejores_5_generos = ratings_por_genero_final.sort_values('avg_rating', ascending = False)
mejores_5_generos.head(5)

          avg_rating
genre
suspenso    7.581250
infantil    7.543750
accion      7.500000
comedia     7.197778
thriller    6.986250